[Unit]
Description=PSII BIN to PNG Converter
After=network.target

[Service]
User=extractor
Group=users
Restart=on-failure
WorkingDirectory=/home/extractor/extractors-multispectral/psii2png
ExecStart=/usr/bin/python /home/extractor/extractors-multispectral/psii2png/terra_psii2png.py

[Install]
WantedBy=multi-user.target
