[Unit]
Description=NDVI and PRI BIN to CSV Converter
After=network.target

[Service]
User=extractor
Group=users
Restart=on-failure
WorkingDirectory=/home/extractor/extractors-multispectral/ndvipri2csv
ExecStart=/usr/bin/python /home/extractor/extractors-multispectral/ndvipri2csv/terra_ndvipri2csv.py

[Install]
WantedBy=multi-user.target
